.app-holder {
  max-width: 40em;
}

.app-holder .govuk-panel__body {
  font-size: 24px;
  line-height: 1.25;
}

@media (max-width: 40.062499em) {
  .app-holder .govuk-button {
    margin-left: 0 !important;
  }
}

.govuk-list--alpha li {
  list-style-type: lower-alpha;
}

.govuk-details__text .govuk-list {
  padding-left: 20px;
}
